* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;

  /* background-color: black; */
}
.item {
  border: 2px solid black;
}

/* mobile  */
@media screen and (max-width: 620px) and (min-width: 0px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
    /* background-color: blue; */
  }
}

/* tab  */
@media screen and (max-width: 768px) and (min-width: 620px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    /* background-color: red; */
  }
}

/* laptop */
@media screen and (max-width: 1200px) and (min-width: 769px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
    /* background-color: yellow; */
  }
  h1 {
  }
}

.m-4 {
  margin: 4rem;
}
.m-3 {
  margin: 3rem;
}
.m-2 {
  margin: 2rem;
}
